<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infotainment System</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="background"></div>

    <div id="home" style="display: block;">
        <div class="title">
            <h1>Home</h1>
        </div>

        <div class="buttonContainer">
            <button onclick="switchToSection('audioControl')" class="audioControlButton"></button>
            <button onclick="switchToSection('settings')" class="settingsButton"></button>
        </div>
        
    </div>



    <div id="settings" style="display: none;">
        <div class="title">
            <h1>Settings</h1>
        </div>
        <button onclick="switchToSection('home')" class="homeButton"></button>
        <div class="slider-container">
            <div class="slider-item">
                <h5>Color</h5>
                <input type="range" id="colorSlider" class="slider" min="0" max="100" value="0">
            </div>
            <div class="slider-item">
                <h5>Brightness</h5>
                <input type="range" id="brightnessSlider" class="slider" min="0" max="200" value="100">
            </div>
        </div>


        <div id="bluetooth-container" class="toggle-container">
            <h5>Bluetooth</h5>
            <img id="bluetoothToggle" src="../static/media/turnOff.png" alt="Bluetooth Toggle" class="toggle-button">
        </div>
        
        <div id="pairing-container" class="toggle-container">
            <h5>Pairing Mode</h5>
            <img id="pairingToggle" src="../static/media/BTPairingOff.png" alt="Pairing Mode Toggle" class="toggle-button">
        </div>
        
        
    </div>
    

    <div id="audioControl" style="display: none;">
        <div class="title">
            <h1>Audio Control</h1>
        </div>
        <button onclick="switchToSection('home')" class="homeButton"></button>

        <div id="musicControl">
            <button>play</button>
            <button>pause</button>
            <button>skip</button>
            <button>previous</button>
        </div>




        <div class="slider-container">
            <div class="slider-item">
                <h5>Volume</h5>
                <input type="range" id="volumeSlider" class="slider" min="0" max="100" value="25">
            </div>
            
        </div>
    </div>
    
    <script src="../static/code.js"></script>
</body>
</html>
