<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamischer Farbverlauf</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="background"></div>

    <section id="home">

    </section>

    <section id="settings">
        <div class="slider-container">
            <input type="range" id="colorSlider" class="slider" min="0" max="100" value="0">
        </div>
    </section>


    <section id="audioControl">

    </section>




    
    <script src="../static/code.js"></script>
</body>
</html>
