<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infotainment System</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <div class="background"></div>

    <div id="sleepTimer">
        <img src="../static/media/wallpaper.jpg" alt="wallpaper Image">
        <p>touch to proceed...</p>
    </div>
    
    <div id="errorContainer"></div>

    <div id="messageContainer"></div>

    <div id="home" style="display: block;">
        <div class="title">
            <h1>Home</h1>
        </div>

        <div class="buttonContainer">
            <button onclick="switchToSection('mapSection')" class="mapButton"></button>
            <button onclick="switchToSection('audioControl')" class="audioControlButton"></button>
            <button onclick="switchToSection('settings')" class="settingsButton"></button>
        </div>
        

        <div id="climateDisplay">
            <h2>🌡 Temperatur: <span id="tempValue">x°C</span></h2>
            <h2>💧 Luftfeuchtigkeit: <span id="humidityValue">x%</span></h2>
        </div>

        <div id="songDisplay">
            <p id="songDisplayText">Songtitle: default | Interpret: default</p>
        </div>
        
        <div id="positionDisplay">
            <div id="compassContainer">
                <img id="compass" src="../static/media/compass.png" alt="Kompass">
            </div>
            <p id="posDisplayText"><span id="direction">0</span> | <span id="altitude">0</span> m <span id="altArrow">⬆</span> | <span id="speed">0</span> km/h</p>
            <div id="satellitContainer">
                <img id="satellit" src="../static/media/satellit.png" alt="Sat">
            </div>
            <p id="numSatellit">0</p>
        </div>
        
    </div>


    <div id="mapSection" style="display: none;">
        <div class="title">
            <h1>Map</h1>
        </div>
        <button onclick="switchToSection('home')" class="homeButton"></button>

        <div id="map" style="height: 500px;"></div>

    </div>

    <div id="settings" style="display: none;">
        <div class="title">
            <h1>Settings</h1>
        </div>
        <button onclick="switchToSection('home')" class="homeButton"></button>
        
        <div id="version" onclick="openGitLog();">
            <p>v:xx:xx:xx, a1b2c3d</p>
        </div>
        <div id="git-log-container">
            
        </div>

        <div class="slider-container">
            <div class="slider-item">
                <h5>Color</h5>
                <input type="range" id="colorSlider" class="slider" min="0" max="100" value="0">
            </div>
            <div class="slider-item">
                <h5>Brightness</h5>
                <input type="range" id="brightnessSlider" class="slider" min="0" max="200" value="100">
            </div>
        </div>

        <div id="settingPanels">
            <button onclick="switchToSection('connections')" class="setBtn" id="connBtn"></button>
            <button onclick="switchToSection('expert')" class="setBtn" id="expBtn"></button>
            <button onclick="toggleTrunkPower()" class="setBtn" id="trunkPowerBtn"></button>
            <button onclick="switchToSection('feature')" class="setBtn" id="feaBtn"></button>
        </div>

        <div class="setPanel" id="connPanel">
            <div id="backConn" class="backButton" onclick="closePanel('connPanel')">
                <img src="../static/media/back.png" alt="goBack img">
            </div>
            <h2 style="color: white; text-align: center; text-decoration: underline;">Connection Settings</h2>

            <div id="bluetooth-container" class="toggle-container">
                <h5>Bluetooth</h5>
                <img id="bluetoothToggle" src="../static/media/turnOff.png" alt="Bluetooth Toggle" class="toggle-button">
            </div>

            <div id="pairing-container" class="toggle-container">
                <h5>Pairing Mode</h5>
                <img id="pairingToggle" src="../static/media/BTPairingOff.png" alt="Pairing Mode Toggle" class="toggle-button">
            </div>

            <div class="seperator"></div>

            <div id="wlan-container" class="toggle-container">
                <h5>Wlan</h5>
                <img id="wlanToggle" src="../static/media/wlanOff.png" alt="Wlan Toggle" class="toggle-button">
            </div>
        </div>

        <div class="setPanel" id="expPanel">
            <div id="backExpert" class="backButton" onclick="closePanel('expPanel')">
                <img src="../static/media/back.png" alt="goBack img">
            </div>
            <h2 style="color: white; text-align: center; text-decoration: underline;">System Settings</h2>

            <div id="logging-toggle">
                <button id="toggleButton" onclick="toggleLogging()">log</button>
            </div>
            <div id="fScreen-toggle">
                <button id="toggleFullscreen" onclick="toggleFullscreen()"><s>fScreen</s></button>
            </div>

            <label style="padding-top: 12px; text-align: center;">SleepTimer:</label>
            <select id="sleepTimerSelect">
                <option value="0">Kein Timer</option>
                <option value="60000">1 Minute</option>
                <option value="300000">5 Minuten</option>
                <option value="600000">10 Minuten</option>
            </select>

            <div id="powerOptions">
                <p>System Options</p>
                <button onclick="shutdown()" id="shutdownBtn">Shutdown</button>
                <button onclick="reboot()" id="rebootBtn">Reboot</button>
                <button onclick="update()" id="updateBtn">update</button>
            </div>

        </div>
        
        <div class="setPanel" id="featurePanel">
            <div id="backFeature" class="backButton" onclick="closePanel('featurePanel')">
                <img src="../static/media/back.png" alt="goBack img">
            </div>
            <h2 style="color: white; text-align: center; text-decoration: underline;">Feature Settings</h2>
        
        
            <div class="featureBtn" onclick=" switchToSection('soundSettings'); closePanel('featurePanel');">
                <h5>Audio Einstellungen</h5>
            </div>

            <div class="featureBtn">
                <h5 id="clickSoundToggle" onclick="togglePlayClickSound();" style="color: green;">Touch Sound: An</h5>
                
                <button class="clickVol" onclick="setClickSoundVolume(false)">
                    <img src="../static/media/clickVolMinus.png" alt="-">
                </button>
                <div class="volumeIndicator">
                    <div class="volumeBar"></div>
                    <div class="volumeBar"></div>
                    <div class="volumeBar"></div>
                    <div class="volumeBar"></div>
                </div>
                <button class="clickVol" onclick="setClickSoundVolume(true)">
                    <img src="../static/media/clickVolPlus.png" alt="+">
                </button>
            </div>
            

            <div class="featureBtn" onclick="toggleTrunkPower();">
                <h5 id="trunkPowerToggle" style="color: green;">Anlage / Sternenhimmel: An</h5>
            </div>

            <div class="featureBtn" onclick="toggleAdaptiveBrightness();">
                <h5 id="adaptiveBrightness" style="color: red;">Adaptive Helligkeit: Aus</h5>
            </div>

            <div class="featureBtn" onclick="toggleClimateData();">
                <h5 id="climateData" style="color: red;">Raumklima: Aus</h5>
            </div>

            <div class="featureBtn" onclick="toggleSongDisplay();">
                <h5 id="showSong" style="color: red;">Musik Informationen: Aus</h5>
            </div>

            <div class="featureBtn" onclick="togglePosDisplay();">
                <h5 id="showPos" style="color: red;">GPS Daten: Aus</h5>
            </div>
        </div>

    </div>






    <div id="audioControl" style="display: none;">
        <div class="title">
            <h1>Audio Control</h1>
        </div>
        <button onclick="switchToSection('home')" class="homeButton"></button>

        <div id="musicControl">
            <div class="container">
                <a class="btn" onclick="animateButton(this); prevAudio();" id="prevBtn">
                    <svg viewBox="0 0 120 120">
                        <circle class="circle" cx="60" cy="60" r="50"></circle>
                        <polygon class="icon" points="70,35 30,60 70,85"></polygon>
                        <line class="icon" x1="30" y1="35" x2="30" y2="85"></line>
                    </svg>
                </a>
                        
                <a class="btn" onclick="animateButton(this), pauseAudio();" id="pauseBtn">
                    <svg viewBox="0 0 120 120">
                        <circle class="circle" cx="60" cy="60" r="50"></circle>
                        <line class="icon" x1="45" y1="35" x2="45" y2="85"></line>
                        <line class="icon" x1="75" y1="35" x2="75" y2="85"></line>
                    </svg>
                </a>

                <a class="btn" onclick="animateButton(this); playAudio();" id="playBtn">
                    <svg viewBox="0 0 120 120">
                        <circle class="circle" cx="60" cy="60" r="50"></circle>
                        <polygon class="icon" points="45,35 85,60 45,85"></polygon>
                    </svg>
                </a>
        
                <a class="btn" onclick="animateButton(this); skipAudio();" id="skipBtn">
                    <svg viewBox="0 0 120 120">
                        <circle class="circle" cx="60" cy="60" r="50"></circle>
                        <polygon class="icon" points="45,35 85,60 45,85"></polygon>
                        <line class="icon" x1="85" y1="35" x2="85" y2="85"></line>
                    </svg>
                </a>
            </div>
            
        </div>

        <div id="metaData" class="genre-rock" onclick="switchToSection('soundSettings');">
            <div id="left">
                <h5 id="songTitle">Song</h5>
                <h5 id="artist">Artist</h5>
            </div>
            <div id="right">
                <h5 id="album">Album</h5>
                <h5 id="genre">Genre</h5>
            </div>
        </div>
        
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>

        <div id="soundDevice">
            <h5 id="DeviceName">Device Name</h5>
        </div>
        

        <div class="slider-container" id="volumeContainer">
            <div class="slider-item">
                <h5>Volume</h5>
                <input type="range" id="volumeSlider" class="slider" min="0" max="100" value="25" step="2">
            </div>
            
        </div>
    </div>
    

    <div class="setPanel" id="soundSettingsPanel">
        <div id="backExpert" class="backButton" onclick="closePanel('soundSettingsPanel')">
            <img src="../static/media/back.png" alt="goBack img">
        </div>

        <div class="subTitle">
            <h1>Audio Settings</h1>
        </div>

        <div class="slider-container" id="balanceContainer">
            <div class="slider-item">
                <h5>Balance</h5>
                <input type="range" id="balanceSlider" class="slider" min="-100" max="100" value="0" step="10">
            </div>
        </div>

    </div>

    <script src="../static/code.js"></script>
</body>
</html>
