<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>OctaControl</title>
</head>
<body>

    <div id="widget-container" class="widget-container">
        <div class="widget-collection">
            <bt-audio-widget></bt-audio-widget>
            <map-widget style="width: 550px; height: 66%;"></map-widget>
        </div>
        
        <div class="widget-collection">
            <time-widget style="height: 43%;"></time-widget>
            <clock-widget style="height: 50%;"></clock-widget>
        </div>
        
        <div class="widget-collection">
            <div id="settingsWidget" onclick="toggleSettings();">
                <img src="../static/media/settings.svg" alt="Settings" width="50" height="auto">
            </div>
        </div>
        
        <div class="widget-collection" id="settings" style="display: none;">
            <div class="settings-column">
                <wifi-setup-widget></wifi-setup-widget>
                <bt-setup-widget></bt-setup-widget>
            </div>

            <div class="settings-column">
                <div class="empty-widget" style="width: 250px; height: 200px;">Infotainment Settins</div>
            </div>
          
        </div>

    </div>


    <script src="../static/code/code.js"></script>

    <script src="../static/code/api/bt_controller_widget.js" type="module"></script>
    <script src="../static/code/api/map_widget.js" type="module"></script>

    <script src="../static/code/api/bt_audio_widget.js" type="module"></script>
    <script src="../static/code/api/wifi_controller_widget.js" type="module"></script>
    <script src="../static/code/widgets/clock_widget.js" type="module"></script>
    <script src="../static/code/widgets/time_widgets.js" type="module"></script>
</body>
</html>