<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OctaControl</title>
</head>
<body>
    <!-- <bt-audio-widget></bt-audio-widget> -->

    <!-- <bt-setup-widget></bt-setup-widget> -->
    
    <wifi-setup-widget></wifi-setup-widget>
    
    <script src="../static/code/api/bt_controller_widget.js" type="module"></script>
    <script src="../static/code/api/bt_audio_widget.js" type="module"></script>
    <script src="../static/code/api/wifi_controller_widget.js" type="module"></script>
</body>
</html>