* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: var(--bg);
  color: var(--fg);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.mono { 
    font-variant-numeric: tabular-nums;
    font-size: 1.4rem;
    font-weight: 400;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 
    52px    /*Topbar*/
    64px    /*Navigation*/
    1fr;    /*Main*/
}

.topbar, .navibar {
  background: var(--panel);
  padding: 0 14px;
  display: flex;
  align-items: center;
}

.navibar {
    display: flex;
    gap: 15px;
    padding: 8px 150px;
    outline: 1px solid rgba(60, 200, 120, .1);
    border-radius: 12px;
    margin-top: 10px;
}

.topbar { 
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    border-bottom: 1px solid rgba(60, 200, 120, .2);
}
.topbar__left {
    justify-self: start;
}
.topbar__left, .topbar__right, .topbar__center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar__left img {
    height: 28px;
    width: auto;
}

.topbar__center {
    justify-self: center;
    text-align: center;
    flex-direction: column;
    gap: 1px;
    margin-top: -12px;
}

.topbar__center #date {
    font-weight: lighter;
    font-size: 0.75rem;
}

.topbar__right {
    justify-self: end;
}

.main {
  padding: 14px;
  overflow: hidden;
}

.view { display: none; height: 100%; }
.view.active { display: block; }

section { height: 100%; }