
#navi {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.map-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--gap);
}

.map-container {
    width: 100%;
    height: 58dvh;
}

#main_map {
    width: 100%;
    height: 100%;
}

.map-data-block {
    display: flex;
    align-items: self-start;
    gap: 15px;
    padding: 15px 55px;
    border-radius: 15px;
    border: 1px solid var(--ui-accent-border);
}


[data-quality="poor"]    { color: var(--battery-slash); }
[data-quality="medium"] { color: var(--battery-low); }
[data-quality="good"]   { color: var(--battery-full); }
