[Desktop Entry]
Version=1.0
Type=Application
Name=BH1750DVI Test
Exec=python3 ../BH1750DVI_test.py
Icon=utilities-terminal
Terminal=true
Categories=Development;
