[Desktop Entry]
Version=1.0
Type=Application
Name=GPIO Test
Exec=python3 ../GPIO_test.py
Icon=utilities-terminal
Terminal=true
Categories=Development;
