<!doctype html>
<html lang="de" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OctaControl</title>

  <link rel="stylesheet" href="../static/assets/leaflet/leaflet.css">

  <link rel="stylesheet" href="../static/css/10-theme.css">
  <link rel="stylesheet" href="../static/css/20-base.css">
  <link rel="stylesheet" href="../static/css/30-components.css">
  <link rel="stylesheet" href="../static/css/40-dashboard.css">
  <link rel="stylesheet" href="../static/css/40-navi.css">
  <link rel="stylesheet" href="../static/css/40-lighting.css"> 
  <link rel="stylesheet" href="../static/css/40-settings.css">
</head>

<body>
  <div class="app" id="app">
    <header class="topbar">
      <div class="topbar__left">
        <img src="../static/assets/images/skoda_logo.png" alt="Skoda Octavia">
        <h3>Octavia</h3>
    </div>
    
      <div class="topbar__center">
          <span id="clock" class="mono">--:--</span>
          <span id="date" class="mono">Sun, Dec 28</span>
      </div>

      <div class="topbar__right">

        <span class="spinner" role="status" aria-label="Lädt" id="globalLoader">
          <svg viewBox="0 0 50 50" aria-hidden="true">
            <circle class="spinner__track" cx="25" cy="25" r="20"></circle>
            <circle class="spinner__head"  cx="25" cy="25" r="20"></circle>
          </svg>
        </span>

        <div class="pill pill--muted">
            <img src="../static/assets/icons/temperature-quarter-svgrepo-com.svg" alt="temperature icon">
            <span id="tempPill">--°C</span>
        </div>

        <div class="pill pill--muted">
            <span class="icon icon--bluetooth" id="pill-bluetooth"></span>
            <span class="icon icon--radio" id="pill-radio"></span>
        </div>

        <div class="pill pill--muted">
            <span class="icon icon--battery-slash battery" data-battery="none"></span>
            <span class="icon icon--battery-empty battery" data-battery="empty"></span>
            <span class="icon icon--battery-low battery"   data-battery="low"></span>
            <span class="icon icon--battery-mid battery"   data-battery="mid"></span>
            <span class="icon icon--battery-full battery"  data-battery="full"></span>
            <span id="batteryPill" class="pill pill-muted">--%</span>
        </div>

        <span id="wifiPill" class="icon icon--network pill pill--muted"></span>

        <button id="themeBtn" title="Theme umschalten">🌓</button>
      </div>
    </header>

    <nav class="navibar">
        <button class="nav-btn active" data-view="dashboard">
            <img src="../static/assets/icons/dashboard-svgrepo-com.svg" alt="dashboard icon">
            <span>Dashboard</span>
        </button>
        <button class="nav-btn" data-view="navi">
            <img src="../static/assets/icons/navigation-svgrepo-com.svg" alt="navigation icon">
            <span>Naviation</span>
        </button>
        <button class="nav-btn" data-view="audio">
            <img src="../static/assets/icons/music-note-svgrepo-com.svg" alt="audio icon">
            <span>Audio</span>
        </button>
        <button class="nav-btn" data-view="lighting">
            <img src="../static/assets/icons/color-palette-svgrepo-com.svg" alt="lighting icon">
            <span>Lighting</span>
        </button>
        <button class="nav-btn" data-view="settings">
            <img src="../static/assets/icons/settings-svgrepo-com.svg" alt="settings icon">
            <span>Settings</span>
        </button>
    </nav>

    <main class="main">
      <section class="view active" id="view-dashboard"></section>
      <section class="view" id="view-audio"></section>
      <section class="view" id="view-navi"></section>
      <section class="view" id="view-lighting"></section>
      <section class="view" id="view-settings"></section>
    </main>
  </div>

  <script src="../static/assets/leaflet/leaflet.js"></script>
  <script type="module" src="../static/js/app.js"></script>
</body>
</html>
