
body {
    background-color: #053e33;
    filter:
        brightness(var(--global-brightness, 1))
        contrast(var(--global-contrast, 1))
        saturate(var(--global-saturation, 1))
        grayscale(var(--global-grayscale, 1));
    transition: filter 0.3s ease;

    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#leftSidebar {
    background-color: #053e33;
    height: 100dvh;
    width: 250px;
    position: fixed;
    z-index: 10;
    left: -250px;
    top: 0;
    box-shadow: 7px 2px 20px 0px #053e33;
    transition: left 0.3s ease;
}

#leftSidebar.active {
    left: 0;
}

.internet-icon {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 54%;
    transition: background-color 0.3s ease;
}
.internet-icon.offline {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
}


.widget-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 95%;
    height: 100dvh;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1.5rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #42674d, #000000);
    transition: width 0.5s ease;
}

.widget-container::-webkit-scrollbar, 
.widget-container::-webkit-scrollbar-thumb {
    display: none;
}

.widget-collection {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.widget-container > .widget-collection > * {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    min-width: 300px;
    min-height: 10px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    background: linear-gradient(145deg, #3a3a3a52, #1519712b);
    transition: all 0.2s ease;
}

.widget.empty {
    background: rgba(255, 255, 255, 0.08);
    border: 1px dashed rgba(255, 255, 255, 0.2);
}
.empty-widget {
    width: 250px;
    position: relative;
    left: 1%;
}

.widget-container > .widget-collection > *:active {
    transform: scale(0.99);
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

@media (hover: hover) {
    .widget-container > .widget-collection > *:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    }
}




#settingsWidget {
    width: 250px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
#settingsWidget img {
    width: 60%;
}

.settings-panel {
    display: flex;
    gap: 1rem;
    background: rgba(18, 25, 33, 0.95);
    border-radius: 16px;
    padding: 1rem;
    width: auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    transform: translateX(75px);
}

.settings-panel.show {
    opacity: 1;
    transform: translateX(0);
}

.menu-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #d0d7de;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.menu-item.active {
    font-weight: bold;
    background-color: #053e33;
}

.menu-item img{
    width: 2rem;
}

.sub-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex: 2;
    color: #cbd5e1;
    background: #1e293b;
    border-radius: 8px;
    padding: 1rem;
    min-width: 500px;
    max-height: 80vh;
    gap: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sub-panel::-webkit-scrollbar {
    display: none;
}