body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top center, var(--main-color, rgb(48, 48, 48)), black);
    transition: background-color 0.5s ease;
    z-index: -1;
}

.homeButton {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 12vw;
    height: 12vw;
    background: url('media/home_img.png') no-repeat center center;
    background-size: calc(100% - 10px);
    padding: 5px;
    border: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #00000090; 
    box-shadow: 5px 5px 15px 5px #00000090;
    border-radius: 15%;
}

.homeButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 0.3s ease;
}

.audioControlButton,
.settingsButton {
    flex: 1;
    max-width: 18vw;
    height: auto;
    aspect-ratio: 1 / 1;
    background: url('media/audioControl_img.png') no-repeat center center;
    background-size: calc(100% - 10px);
    padding: 5px;
    border: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #00000090; 
    box-shadow: 5px 5px 15px 5px #00000090;
    border-radius: 15%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.settingsButton {
    background: url('media/settings_img.png') no-repeat center center;
    background-size: calc(100% - 10px);
}


.slider-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}


.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}

.slider-item h5 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.slider {
    width: 100%;
}

input[type=range] {
    width: 100%;
    height: 0.75rem;
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.75rem;
    background: #7c7c7c;
    border-radius: 25px;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 6rem;
    height: 3rem;
    background: url('../static/media/slider_thumb.png') no-repeat center center;
    background-size: contain;
    border: 0;
    border-radius: 3%;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1.4rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    margin-top: 5vh;
}

/*style for home-section*/
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

/*style for settings-section*/
#settings .homeButton{
    left: 10%;
    top: 20%;
}

/*toggle buttons for BT switch and pairing Mode*/
.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 1rem auto;
    margin-right: 1%;
    color: white;
}
.toggle-container h5 {
    font-size: 1.5rem;
    margin: 0;
}
.toggle-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.toggle-button:hover {
    transform: scale(1.1);
}



/*style for audio-control-section*/
#audioControl .homeButton{
    left: 10%;
    top: 20%;
}

















