body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top center, var(--main-color, rgb(48, 48, 48)), black);
    transition: background-color 0.5s ease;
    z-index: -1;
}

/*#################################################################################################*/
/*style for logging error messages*/
#errorMessage {
    position: absolute;
    bottom: 3%;
    left: 1%;
    z-index: 5;
    display: none;
    background-color: #e9d5d7;
    color: #721c24;
    border: 1px solid #883b43;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
    width: 40%;
}

#errorMessage h6 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

#errorMessage p {
    margin: 5px 0 0;
}

/*#################################################################################################*/
/*style for notifications*/
#messageNotification {
    display: none;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: #fef3c7;
    color: #92400e;
    border: 1px solid #fbbf24;
    border-radius: 10px;
    padding: 12px;
    font-family: Arial, sans-serif;
    width: 40%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: bold;
}
#messageNotification h6 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}
#messageNotification p {
    margin: 5px 0 0;
}


.homeButton {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background: url('media/home_img.png') no-repeat center center;
    background-size: calc(100% - 10px);
    padding: 5px;
    border: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #00000090; 
    box-shadow: 5px 5px 15px 5px #00000090;
    border-radius: 15%;
}

.homeButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 0.3s ease;
}


.audioControlButton,
.settingsButton {
    flex: 1;
    max-width: 18vw;
    height: auto;
    aspect-ratio: 1 / 1;
    background: url('media/audioControl_img.png') no-repeat center center;
    background-size: calc(100% - 10px);
    padding: 5px;
    border: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #00000090; 
    box-shadow: 5px 5px 15px 5px #00000090;
    border-radius: 15%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.settingsButton {
    background: url('media/settings_img.png') no-repeat center center;
    background-size: calc(100% - 10px);
}

/*#################################################################################################*/
/*type for sliders volume, brightness, color*/
.slider-container {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: white;
}


.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}
#volumeContainer{
    width: 100%;
}

.slider-item h5 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.slider {
    width: 100%;
}

input[type=range] {
    width: 100%;
    height: 0.75rem;
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.75rem;
    background: #7c7c7c;
    border-radius: 25px;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 6rem;
    height: 3rem;
    background: url('../static/media/slider_thumb.png') no-repeat center center;
    background-size: contain;
    border: 0;
    border-radius: 3%;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1.4rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    margin-top: 5vh;
}

/*style for home-section*/
/*#################################################################################################*/
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

/*style for settings-section*/
/*#################################################################################################*/
#settings .homeButton{
    left: 5%;
    top: 10%;
}

#settingPanels {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
}

.connButton, .expButton {
    width: 12vw;
    height: 12vw;
    padding: 0;
    border: none;
    z-index: 10;
    -webkit-box-shadow: 5px 5px 15px 5px #00000090; 
    box-shadow: 5px 5px 15px 5px #00000090;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connButton{
    background: url('media/conn.png') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.expButton{
    background: url('media/systemSetting.png') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.connButton:hover, .expButton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.seperator{
    width: 100%;
    height: 2px;
    background-color: white;

}



/* different Settingpanels with animation*/
#connPanel, #expPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    width: 45%;
    height: 83%;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    transition: transform 0.5s ease-out;
}

#connPanel.show, #expPanel.show {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 0.5s ease-out, visibility 0s, opacity 0.5s ease-out;
}

.backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.backButton img {
    width: 100%;
    height: 100%;
}

#logging-toggle, #fScreen-toggle, #sleepTimerSelect, #powerOptions {
    margin-top: 15px;
}

/* Container für die Toggle Buttons */
.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    color: white;
}

.toggle-container h5 {
    font-size: 1.5rem;
    margin: 0;
}

.toggle-button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.toggle-button:hover {
    transform: scale(1.1);
}



.genre-color-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.genre-color-slider::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .genre-color-slider {
    background-color: #4caf50;
}

input:checked + .genre-color-slider::before {
    transform: translateX(30px);
}


#systemSettings {
    width: 13%;
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
}


#logging-toggle, #fScreen-toggle {
    right: 10px;
}

#logging-toggle {
    top: 10px;
}

#fScreen-toggle {
    top: 60px;
}

#toggleButton {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    box-sizing: border-box;
}

#toggleFullscreen {
    padding: 12px 20px;
    font-size: 14px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    width: 100%;
}

#logging-toggle.active #toggleButton {
    background-color: red;
}

#logging-toggle.inactive #toggleButton {
    background-color: #4CAF50;
}


/*style for sleepTimer*/
/*#################################################################################################*/
#sleepTimer {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: none;
    z-index: 1001;
}

#sleepTimer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(50%);
}

#sleepTimer p {
    color: white;
    position: absolute;
    bottom: 1.5%;
    left: 5%;
    font-size: 1.5rem;
    text-align: center;
    animation: blink 3s infinite;
}


#sleepTimerSelect {
    top: 120px;;
    right: 10px;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    background-color: rgb(35, 35, 35, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
}

@keyframes blink {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.7;
    }
}


/*style for system Options*/
/*#################################################################################################*/

#powerOptions {
    padding: 10px;
    border: 1px solid #cccccc8e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f998;
    text-align: center;
}

#powerOptions p {
    margin: 10px 0 20px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#powerOptions button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77);
}

#powerOptions #shutdownBtn {
    background-color: #dc3545;
}
#powerOptions #rebootBtn {
    background-color: #007bff;
}
#powerOptions #updateBtn {
    background-color: #1a702e;
}

@keyframes suggestion {
    0% {
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77);
    }
    50% {
        -webkit-box-shadow: 5px 5px 15px 5px rgba(240, 85, 85, 0.9); 
        box-shadow: 5px 5px 15px 5px rgba(240, 85, 85, 0.9);
    }
    100% {
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77);
    }
}


/*style for audio-control-section*/
/*#################################################################################################*/
#audioControl .homeButton{
    left: 5%;
    top: 10%;
}

/*style for music Control*/
#musicControl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin: 20px auto;
}

#musicControl button {
    padding: 1em 2em;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color 0.3s, transform 0.2s;
    flex: 1 1 auto;
    max-width: 10rem;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: relative;
    touch-action: manipulation;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
}

svg {
    width: 80px;
    height: 80px;
}

.circle, .icon {
    stroke: #28a745;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: stroke-dashoffset 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.circle {
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    opacity: 0;
}

.icon {
    stroke-dasharray: 150;
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: white;
}

.btn.clicked .circle {
    opacity: 1;
    animation: draw-ring 1s ease-in-out forwards;
}

.btn.clicked .icon {
    animation: nudge 0.5s ease-in-out;
}

@keyframes draw-ring {
    0% { stroke-dashoffset: 330; }
    100% { stroke-dashoffset: 0; }
}

@keyframes nudge {
    0% { transform: translateX(0); }
    30% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    70% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}

#metaData {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    padding: 18px;
    margin: 5% auto;
    border: 1px solid white;
    border-radius: 15px;
    background: radial-gradient(circle at top center, var(--accent-color) 1%, rgb(2, 2, 2) 65%);    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    transition: background 0.3s ease-in-out;
}

#metaData h5 {
    color: white;
    font-size: 1rem;
    margin: 5px 0;
    text-align: left;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

