<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { height: 500px; width: 100%; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([52.52, 13.405], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        var customIcon = L.icon({
            iconUrl: '../static/posMarker.png',
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });

        var marker = L.marker([52.52, 13.405], { icon: customIcon }).addTo(map);

        function updateLocation(lat, lon) {
            marker.setLatLng([lat, lon]);
            map.setView([lat, lon], 13);
        }

        function updateLocationPolling() {
            fetch('http://0.0.0.0:5000/location')
                .then(response => response.json())
                .then(data => {
                    var lat = data.latitude;
                    var lon = data.longitude;
                    updateLocation(lat, lon);
                })
                .catch(error => console.error('Fehler:', error));
        }

        setInterval(updateLocationPolling, 2000);
    </script>
</body>
</html>
